.fw-shortcode-about-us--side {
    width: 50%;
    min-height: 400px;
}

/* Left Side */

.fw-shortcode-about-us--side.left {
    position: relative;
}

.fw-shortcode-about-us--media-section {
    width: 100%;
    padding-right: 15px;
    top: auto;
}

.fw-shortcode-about-us--media-section.offset {
    position: absolute;
}

.fw-shortcode-about-us--media {
    text-align: center;
}

.fw-shortcode-about-us--media-desc {
    display: inline-block;
    background-color: #fff;
    padding: 21px 95px 21px 0;
}

.fw-shortcode-about-us--media-title {
    color: #292a2e;
    font-size: 20px !important;
    font-size: 2.0rem !important;
    line-height: 20px;
    font-weight: 300;
    margin: 0 0 6px;
}

.fw-shortcode-about-us--media-subtitle {
    color: #f96380;
    font-size: 12px !important;
    font-size: 1.2rem !important;
    line-height: 12px;
    font-weight: 900;
    text-transform: uppercase;
    letter-spacing: 0.2em;
    margin: 0;
}

/* Right Side */

.fw-shortcode-about-us--side.right {
    padding: 56px 56px 56px 46px;
}

.fw-shortcode-about-us--title {
    color: #292a2e;
    font-size: 30px !important;
    font-size: 3.0rem !important;
    font-weight: 900;
    margin: 0 0 27px;
}

.fw-shortcode-about-us--desc {
    font-family: 'Roboto', sans-serif;
    color: #989898;
    margin-bottom: 20px;
}

.fw-shortcode-about-us--desc p:last-of-type {
    margin-bottom: 0;
}

.fw-shortcode-about-us--number-section {
    position: relative;
    height: 82px;
    overflow: hidden;
}

.fw-shortcode-about-us--number-block {
    position: absolute;
    width: 28.6%;
    height: 100%;
}

.fw-shortcode-about-us--number-block:nth-child(1) {
    left: 0;
}

.fw-shortcode-about-us--number-block:nth-child(2) {
    left: 28.7%;
}

.fw-shortcode-about-us--number-block:nth-child(3) {
    left: 65.9%;
}

.fw-shortcode-about-us--number-block + .fw-shortcode-about-us--number-block {
    border-left: 1px solid #e3e3e3;
    padding-left: 40px;
}

.fw-shortcode-about-us--number {
    font-family: 'Roboto', sans-serif;
    color: #f96380;
    font-size: 40px;
    font-size: 4.0rem;
    font-weight: 900;
    margin: 8px 0;
}

.fw-shortcode-about-us--number-desc {
    color: #292a2e;
    font-size: 12px;
    font-size: 1.2rem;
    line-height: 14px;
    font-weight: 500;
    text-transform: uppercase;
    letter-spacing: 0.2em;
}

/* Media Queries */

/* 240px */
@media screen and (min-width: 15em) {

    .fw-shortcode-about-us {
        margin-top: 15px;
    }

    .fw-shortcode-about-us--side {
        float: none !important;
        width: 100%;
        min-height: 0;
    }

    .fw-shortcode-about-us--media-section {
        padding-right: 0;
    }

    .fw-shortcode-about-us--media-section.offset {
        position: static;
    }

    .fw-shortcode-about-us--side.right {
        padding: 15px;
    }

    .fw-shortcode-about-us--number-block + .fw-shortcode-about-us--number-block {
        padding-left: 18px;
    }

    .fw-shortcode-about-us--number {
        font-size: 18px;
        font-size: 1.8rem;
    }

    .fw-shortcode-about-us--number-desc {
        font-size: 11px;
        font-size: 1.1rem;
        text-transform: none;
        letter-spacing: 0.02em;
    }

}

/* 620px */
@media screen and (min-width: 38.75em) {

    .fw-shortcode-about-us--side.right {
        padding: 56px 56px 56px 46px;
    }

    .fw-shortcode-about-us--number-block + .fw-shortcode-about-us--number-block {
        padding-left: 40px;
    }

    .fw-shortcode-about-us--number {
        font-size: 40px;
        font-size: 4.0rem;
    }

    .fw-shortcode-about-us--number-desc {
        font-size: 12px;
        font-size: 1.2rem;
        text-transform: uppercase;
        letter-spacing: 0.2em;
    }

}

@media screen and (min-width: 992px) {

    .fw-shortcode-about-us {
        margin-top: 0;
    }

    .fw-shortcode-about-us--side {
        float: none !important;
        width: 50%;
        min-height: 400px;
    }

    .fw-shortcode-about-us--side.left {
        float: left !important;
    }

    .fw-shortcode-about-us--side.right {
        float: right !important;
    }

    .fw-shortcode-about-us--media-section {
        padding-right: 15px;
    }

    .fw-shortcode-about-us--media-section.offset {
        position: absolute;
    }

}


/* rtl */

/* Left Side */

body.rtl .fw-shortcode-about-us--media-section {
    padding-right: 0;
    padding-left: 15px;
}

body.rtl .fw-shortcode-about-us--media-desc {
    padding: 21px 0 21px 95px;
}

/* Right Side */

body.rtl .fw-shortcode-about-us--side.right {
    padding: 56px 46px 56px 56px;
}

body.rtl .fw-shortcode-about-us--number-block:nth-child(1) {
    left: auto;
    right: 0;
}

body.rtl .fw-shortcode-about-us--number-block:nth-child(2) {
    left: auto;
    right: 28.7%;
}

body.rtl .fw-shortcode-about-us--number-block:nth-child(3) {
    left: auto;
    right: 65.9%;
}

body.rtl .fw-shortcode-about-us--number-block + .fw-shortcode-about-us--number-block {
    border-left: 0 none;
    border-right: 1px solid #e3e3e3;

    padding-left: 0;
    padding-right: 40px;
}

/* Media Queries */

/* 240px */
@media screen and (min-width: 15em) {

    body.rtl .fw-shortcode-about-us--media-section {
        padding-right: auto;
        padding-left: 0;
    }

    body.rtl .fw-shortcode-about-us--number-block + .fw-shortcode-about-us--number-block {
        padding-left: 0;
        padding-right: 18px;
    }

}

/* 620px */
@media screen and (min-width: 38.75em) {

    body.rtl .fw-shortcode-about-us--side.right {
        padding: 56px 46px 56px 56px;
    }

    body.rtl .fw-shortcode-about-us--number-block + .fw-shortcode-about-us--number-block {
        padding-left: 0;
        padding-right: 40px;
    }

}

@media screen and (min-width: 992px) {

    body.rtl .fw-shortcode-about-us--side.left {
        float: right !important;
    }

    body.rtl .fw-shortcode-about-us--side.right {
        float: left !important;
    }

    body.rtl .fw-shortcode-about-us--media-section {
        padding-right: 0;
        padding-left: 15px;
    }

}