.breadcrumbs {
    font-size: 14px;
    font-size: 1.4rem;
    font-weight: 500;
    line-height: 2.1429;
    text-transform: uppercase;
}

.breadcrumbs span {
    display: inline-block;
}

.breadcrumbs span a {
    color: #e2001a;
}

.breadcrumbs span a:hover {
    color: #ffffff;
}

.breadcrumbs span.last-item {
    color: #808080;
}

.breadcrumbs span.separator {
    text-indent: 100%;
    white-space: nowrap;
    overflow: hidden;
    vertical-align: bottom;

    width: 2px;
    margin: 0 14px;
    padding: 0 0 0 0;
}