.fw-team .fw-team-image {
	width: 45.85%;
	text-align: center;
	padding-right: 45px;
	border-right: 1px solid #e5e5e5;
}

.fw-team-image .overlay {
    top: 0;
    padding-right: 45px;
    opacity: 0;

    -webkit-transition: all 0.3s ease;
	-moz-transition: all 0.3s ease;
	-o-transition: all 0.3s ease;
	transition: all 0.3s ease;
}

.fw-team-image .overlay:hover {
    opacity: 1;
}

.fw-team-image .overlay-shadow {
    background-color: #292a2e;
    opacity: 0.8;

	-webkit-border-radius: 100%;
	-moz-border-radius: 100%;
	border-radius: 100%;
}

.fw-team-image .overlay-btn:hover:before {
	color: #f96380;
}

.fw-team .fw-team-inner {
	width: 54.15%;
	text-align: center;
	padding-left: 65px;
	border-left: 1px solid #e5e5e5;
	left: -1px;
	position: relative;
}

.fw-team .fw-team-image img {
	width: 100% !important;
	height: auto !important;

	-webkit-border-radius: 100%;
	-moz-border-radius: 100%;
	border-radius: 100%;
}

.fw-team .fw-team-name {
	margin-bottom: 10px;
}

.fw-team .fw-team-name h3 {
	font-size: 30px;
	font-size: 3.0rem;
	margin: 12px 0 5px 0;
	font-weight: 900;
}

.fw-team .fw-team-line {
	width: 100px;
	height: 1px;
	border-bottom: 1px solid #e5e5e5;
	margin: 15px auto 12px;
}

.fw-team .fw-team-job {
	color: #292a2e;
	font-size: 20px;
	font-size: 2.0rem;
}

.fw-team-social {
	display: inline-block;
	margin: 18px 0 38px;
}

.fw-team-social li {
	style: none;
	float: left;
}

.fw-team-social li:before {
	content: "" !important;
	padding: 0 !important;
}

.fw-team-social li + li {
	margin-left: 5px;
}

.fw-team-social li a:before {
	font-size: 25px !important;
	padding-left: 2px;
}

.fw-team-social li a.fw-team-facebook:before {
	padding-left: 1px;
}

.fw-team-social li a.fw-team-skype:before {
	font-size: 24px !important;
}

.fw-team-text {
	color: #989898;
	letter-spacing: -0.019em;
}

.fw-team-profile {
	margin-top: 50px !important;
	padding-left: 40px !important;
	padding-right: 40px !important;
}


/* Dark */

.fw-main-row.dark .fw-team .fw-team-image {
	border-color: #3f4043;
}

.fw-main-row.dark .fw-team .fw-team-inner {
	border-color: #3f4043;
}

.fw-main-row.dark .fw-team .fw-team-name h3 {
	color: #fff;
}

.fw-main-row.dark .fw-team .fw-team-line {
	border-color: #3f4043;
}

.fw-main-row.dark .fw-team .fw-team-job {
	color: #fff;
}

.fw-main-row.dark .fw-team-profile {
	color: #fff !important;
	border-color: #fff !important;
}

.fw-main-row.dark .fw-team-profile:hover {
	color: #f96380 !important;
}


/* Media Queries */

/* 240px */
@media screen and (min-width: 15em) {
	
	.fw-team .fw-team-image,
	.fw-team .fw-team-inner {
		width: 100%;
		border: 0 none;
		padding: 0;
	}

	.fw-team .fw-team-inner {
		padding-top: 20px;
		left: 0;
	}

	.fw-team-image .overlay {
		padding-right: 0;
	}

}

/* 620px */
@media screen and (min-width: 38.75em) {
	
	.fw-team .fw-team-image{
		width: 45.85%;
		padding-right: 45px;
		border-right: 1px solid #e5e5e5;
	}

	.fw-team .fw-team-inner {
		width: 54.15%;
		padding-top: 0;
		padding-left: 25px;
		border-left: 1px solid #e5e5e5;
		left: -1px;
	}

	.fw-team-image .overlay {
		padding-right: 45px;
	}

}

@media screen and (min-width: 783px) {
	.fw-team .fw-team-inner {
		padding-left: 65px;
	}
}


/* rtl */

body.rtl .fw-team .pull-left {
	float: right !important;
}

body.rtl .fw-team .pull-right {
	float: left !important;
}

body.rtl .fw-team .fw-team-image {
	padding-right: 0;
	padding-left: 45px;

	border-right: 0 none;
	border-left: 1px solid #e5e5e5;
}

body.rtl .fw-team-image .overlay {
	padding-right: 0;
	padding-left: 45px;
}

body.rtl .fw-team .fw-team-inner {
	padding-left: 0;
	padding-right: 65px;

	border-left: 0 none;
	border-right: 1px solid #e5e5e5;

	left: auto;
	right: -1px;
}

body.rtl .fw-team-social li {
	float: right;
}

body.rtl .fw-team-social li + li {
	margin-left: 0;
	margin-right: 5px;
}

/* Media Queries */

/* 240px */
@media screen and (min-width: 15em) {

	body.rtl .fw-team .fw-team-inner {
		left: auto;
		right: 0;
	}

	body.rtl .fw-team-image .overlay {
		padding-right: auto;
		padding-left: 0;
	}

}

/* 620px */
@media screen and (min-width: 38.75em) {

	body.rtl .fw-team .fw-team-image{
		padding-right: 0;
		padding-left: 45px;

		border-right: 0 none;
		border-left: 1px solid #e5e5e5;
	}

	body.rtl .fw-team .fw-team-inner {
		padding-left: 0;
		padding-right: 25px;

		border-left: 0 none;
		border-right: 1px solid #e5e5e5;

		left: auto;
		right: -1px;
	}

	body.rtl .fw-team-image .overlay {
		padding-right: 0;
		padding-left: 45px;
	}

}

@media screen and (min-width: 783px) {
	body.rtl .fw-team .fw-team-inner {
		padding-left: 0;
		padding-right: 65px;
	}
}