ul.recent-posts,
ul.recent-posts li {
    padding: 0;
    overflow: hidden;
}

ul.recent-posts {
    line-height: 24px; 
}

.recent-posts .recent-posts__title {
    font-family: 'Raleway', sans-serif;
    color: #292a2e;
}

.recent-posts .recent-posts__title:hover {
	color: #f96380;
}

.recent-posts .recent-posts__media {
	position: relative;
}


/* Layout 1 */

.recent-posts.layout-1 li + li {
    margin-top: 30px;
}

.recent-posts.layout-1 .recent-posts__media {
    width: 85px;
    height: 85px;
    float: left;
    margin-right: 29px;
}

.recent-posts.layout-1 .recent-posts__media .post-thumbnail {
	width: 85px;
	height: 85px;
}

.recent-posts.layout-1 .recent-posts__content {
    padding-top: 3px;
	margin-left: 85px;
}

.recent-posts.layout-1 .recent-posts__title {
    display: block;
    max-height: 72px;
    overflow: hidden;
    font-weight: 600;
    line-height: 24px;
}

.recent-posts.layout-1 .recent-posts__date {
    margin-top: 7px;    
}

.recent-posts.layout-1 .recent-posts__date a {
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
    color: #808080;
}

.recent-posts.layout-1 .recent-posts__date a:hover {
	color: #f96380;
}



/* Layout 2 */

.recent-posts.layout-2 li {
    float: left;
    width: 370px;
}

.recent-posts.layout-2 li + li {
	margin-left: 30px;
}

.recent-posts.layout-2 .recent-posts__media a {
	display: block;
	width: 100%;
	height: 247px;
}

.recent-posts.layout-2 .recent-posts__content {
    background-color: #fff;
    text-align: center;
    padding: 63px 30px 30px;
    min-height: 185px;
}

.recent-posts.layout-2 .recent-posts__content.transparent {
	opacity: 0.9;
}

.recent-posts.layout-2 .recent-posts__title {
    font-size: 20px;
    font-size: 2.0rem;
    font-weight: 300;
    line-height: 30px;
    display: block;
    height: 60px;
    overflow: hidden;
}

.recent-posts__excerpt,
.recent-posts__excerpt p {
	font-family: 'Roboto', sans-serif;
	color: #989898;
	line-height: 30px;
}

.recent-posts__excerpt {
	height: 90px;
	overflow: hidden;
	margin: 24px 0 21px;
}

.recent-posts__excerpt p:last-of-type {
	margin-bottom: 0;
}

.recent-posts__more {
	font-size: 12px;
	font-size: 1.2rem;
	font-weight: 800;
	text-transform: uppercase;
	letter-spacing: 3px;
	display: inline-block;
	margin: 0 0 22px 6px;
}



/* Layout 3 */

.recent-posts.layout-3 li {
	float: left;
	width: 270px;
}

.recent-posts.layout-3 li + li {
	margin-left: 30px;
}

.recent-posts.layout-3 .recent-posts__media a {
	display: block;
	width: 100%;
	height: 180px;
}

.recent-posts.layout-3 .recent-posts__content {
	text-align: center;
	padding: 26px 30px 30px;
	min-height: 158px;
	border: 1px solid #eaeaea;
	border-top: 0 none;
}

.recent-posts.layout-3 .recent-posts__title {
	font-size: 20px;
	font-size: 2.0rem;
	font-weight: 300;
	line-height: 24px;
	display: block;
	height: 72px;
}

.recent-posts.layout-3 .cat-links {
	margin: 0 0 11px;
}

.recent-posts.layout-3 .cat-links a {
	font-size: 12px;
	font-size: 1.2rem;
}


/* Media Queries */

@media screen and (min-width: 15em) {
	
	.recent-posts.layout-2 li,
	.recent-posts.layout-3 li {
		width: 100%;
		margin-bottom: 30px;
	}

	.recent-posts.layout-2 li + li,
	.recent-posts.layout-3 li + li {
		margin-left: 0;
	}

	.recent-posts.layout-2 .recent-posts__media a {
		height: 300px;
	}

	.recent-posts.layout-3 .recent-posts__media a {
		height: 200px;
	}

}

@media screen and (min-width: 320px) {

	.recent-posts.layout-3 .recent-posts__media a {
		height: 300px;
	}

}

@media screen and (min-width: 450px) {

	.recent-posts.layout-2 .recent-posts__media a {
		height: 400px;
	}

	.recent-posts.layout-3 .recent-posts__media a {
		height: 400px;
	}

}

@media screen and (min-width: 620px) {

	.recent-posts.layout-3 li {
		width: 47.45%;
	}

	.recent-posts.layout-3 li:nth-child(even) {
		margin-left: 30px;
	}

	.recent-posts.layout-2 .recent-posts__media a {
		height: 500px;
	}

	.recent-posts.layout-3 .recent-posts__media a {
		height: 250px;
	}

}

@media screen and (min-width: 768px) {
	
	.recent-posts.layout-2 li {
		width: 30.65%;
		margin-bottom: 0;
	}

	.recent-posts.layout-2 li + li {
		margin-left: 30px;
	}

	
	.recent-posts.layout-3 li {
		width: 48%;
	}

	.recent-posts.layout-2 .recent-posts__media a {
		height: 200px;
	}

}

@media screen and (min-width: 992px) {
	
	.recent-posts.layout-2 li {
		width: 31.265%;
	}

	.recent-posts.layout-3 .recent-posts__media a {
		height: 300px;
	}

}

@media screen and (min-width: 1200px) {
	
	.recent-posts.layout-2 li {
		width: 370px;
	}

	
	.recent-posts.layout-3 li {
		width: 270px;
		margin-bottom: 0;
	}

	.recent-posts.layout-3 li + li {
		margin-left: 30px;
	}

	.recent-posts.layout-2 .recent-posts__media a {
		height: 247px;
	}

	.recent-posts.layout-3 .recent-posts__media a {
		height: 180px;
	}

}


/* rtl */

/* Layout 1 */

body.rtl .recent-posts.layout-1 .recent-posts__media {
	float: right;

	margin-right: 0;
	margin-left: 29px;
}

body.rtl .recent-posts.layout-1 .recent-posts__content {
	margin-left: 0;
	margin-right: 85px;
}

/* Layout 2 */

body.rtl .recent-posts.layout-2 li {
	float: right;
}

body.rtl .recent-posts.layout-2 li + li {
	margin-left: 0;
	margin-right: 30px;
}

body.rtl .recent-posts__more {
	margin: 0 6px 22px 0;
}

/* Layout 3 */

body.rtl .recent-posts.layout-3 li {
	float: right;
}

body.rtl .recent-posts.layout-3 li + li {
	margin-left: 0;
	margin-right: 30px;
}

/* Media Queries */

@media screen and (min-width: 15em) {

	body.rtl .recent-posts.layout-2 li + li,
	body.rtl .recent-posts.layout-3 li + li {
		margin-left: auto;
		margin-right: 0;
	}

}

@media screen and (min-width: 620px) {

	body.rtl .recent-posts.layout-3 li:nth-child(even) {
		margin-left: 0;
		margin-right: 30px;
	}

}

@media screen and (min-width: 768px) {

	body.rtl .recent-posts.layout-2 li + li {
		margin-left: 0;
		margin-right: 30px;
	}

}

@media screen and (min-width: 1200px) {

	body.rtl .recent-posts.layout-3 li + li {
		margin-left: 0;
		margin-right: 30px;
	}

}