/* post slider *//* slider */

.posts-slider {
    position: relative;
}
.posts-slider__content {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    text-align: center;
    z-index: 10;
    padding-bottom: 60px;
}

/* post slider *//* image */
.posts-slider__image {
    position: relative;
    overflow: hidden;
    height: 100%;
}
.posts-slider__overlay {
    position: absolute;
    height: 100%;
    width: 100%;
}
.posts-slider .posts-slider__overlay {
    background-color: rgba(41, 42, 46, 0.5);
}
.posts-slider:hover .posts-slider__overlay {
    background-color: rgba(41, 42, 46, 0.7);
}

/* post slider *//* title */
.posts-slider__title {
    display: block;
    max-width: 70%;
    margin: 0 auto;
}
.posts-slider__title a {
    font-size: 36px;
    font-size: 3.6rem;
    font-weight: 500;
    line-height: 1.1111;
    max-width: 100%;
    color: #ffffff;

    -webkit-transition: all 0.3s ease;
	-moz-transition: all 0.3s ease;
	-o-transition: all 0.3s ease;
	transition: all 0.3s ease;
}
.posts-slider__title a:hover,
.posts-slider__title a:active,
.posts-slider__title a:focus {
    color: #fff !important;
    opacity: 0.7;
}

/* post slider *//* meta */
.posts-slider__category {
    display: block;
    position: absolute;
    top: 0;
    text-align: center;
    width: 100%;
    line-height: 0;
}
.posts-slider__category a {
    display: inline-block;
    font-size: 12px;
    font-size: 1.2rem;
    font-weight: 400;
    line-height: 1;
    text-transform: uppercase;
    padding: 4px 16px;
    margin-bottom: 13px;
    background-color: #00abef;
    color: #ffffff;
}
.posts-slider__category a:hover {
    color: rgba(255,255,255,0.5);
}
.posts-slider__date {
    display: block;
    font-size: 12px;
    font-size: 1.2rem;
    line-height: 1;
    text-transform: uppercase;
    margin-top: 15px;
    color: #b2b2b2;
}

/* post slider *//* next, prev */
.posts-slider.owl-carousel .owl-controls .owl-nav .owl-prev,
.posts-slider.owl-carousel .owl-controls .owl-nav .owl-next {
    width: 60px;
    position: absolute;
    left: 50%;
    bottom: 32px;
    height: 30px;
    line-height: 30px;
    padding: 0;
    margin: 0;
    text-align: center;
}

.posts-slider.owl-carousel .owl-controls .owl-nav .owl-prev {
    border-right: 1px solid rgba(255, 255, 255, 0.3);

    -webkit-transform: translateX(-100%);
    -ms-transform: translateX(-100%);
    transform: translateX(-100%);
}

.posts-slider.owl-carousel .owl-controls {margin-top: 0;}
.posts-slider.owl-carousel .owl-controls .owl-nav {
    position: static;
    -webkit-transform: none;
    -ms-transform: none;
    transform: none;
}
.posts-slider__icon {
    position: absolute;
    top: 50%;
    left: 0;
    width: 60px;
    font-size: 40px;
    line-height: 14px;
    margin-top: -7px;
    color: #f6f6f6;
}

.posts-slider__icon:before {
    font-size: 40px !important;
}

/* post slider *//* helpers classes */
.posts-slider__table {
    display: table !important;
    height: 100%;
    width: 100% !important;
}
.posts-slider__cell {
    display: table-cell !important;
    vertical-align: middle !important;
}

/* Animate/Transition */
.posts-slider .posts-slider__overlay,
.posts-slider:hover .posts-slider__overlay,
.posts-slider.owl-carousel .owl-controls .owl-nav .owl-prev,
.posts-slider.owl-carousel .owl-controls .owl-nav .owl-next,
.posts-slider.owl-carousel .owl-controls .owl-nav .owl-prev:hover,
.posts-slider.owl-carousel .owl-controls .owl-nav .owl-next:hover,
.transition--on {
    -webkit-transition: all .3s ease-in-out;
    -o-transition: all .3s ease-in-out;
    transition: all .3s ease-in-out;
}

/* Disable: Animate/Transition */
.transition--off {
    -webkit-transition: none;
    -o-transition: none;
    transition: none;
}

.widget_recent_entries_slider .owl-controls .owl-nav .owl-prev:hover i:before,
.widget_recent_entries_slider .owl-controls .owl-nav .owl-next:hover i:before {
    color: #f96380;
}


/* rtl */

body.rtl .posts-slider__content {
    left: auto;
    right: 0;
}

body.rtl .posts-slider.owl-carousel .owl-controls .owl-nav .owl-prev,
body.rtl .posts-slider.owl-carousel .owl-controls .owl-nav .owl-next {
    left: auto;
    right: 50%;
}

body.rtl .posts-slider.owl-carousel .owl-controls .owl-nav .owl-prev {
    border-right: 0 none;
    border-left: 1px solid rgba(255, 255, 255, 0.3);

    -webkit-transform: translateX(100%);
    -ms-transform: translateX(100%);
    transform: translateX(100%);
}

body.rtl .posts-slider__icon {
    left: auto;
    right: 0;
}